<nav class="sidebar-nav">
  <h2 class="container-block-title">Navigate</h2>
  <ul class="nav-list">
    <li><a href="#about"><i class="fas fa-user"></i> About</a></li>
    <li><a href="#projects"><i class="fas fa-rocket"></i> Projects</a></li>
    <li><a href="#research"><i class="fas fa-flask"></i> Research</a></li>
    <li><a href="#awards"><i class="fas fa-trophy"></i> Awards</a></li>
    <li><a href="#publications"><i class="fas fa-file-alt"></i> Publications</a></li>
    <li><a href="#teaching"><i class="fas fa-chalkboard-teacher"></i> Teaching</a></li>
    <li><a href="#education"><i class="fas fa-graduation-cap"></i> Education</a></li>
    <li><a href="#skills"><i class="fas fa-code"></i> Skills</a></li>
  </ul>
</nav>
