/* Custom brand theme */
$theme-color: #439ca0;
$text-color: #121728;
$text-color-secondary: #275e60;
$text-grey: lighten(#121728, 45%);
$divider: #e1e9fb;
$lighter-grey: lighten(#121728, 65%);
$darker-grey: lighten(#121728, 30%);
$smoky-white: #f3f5f9;
$heart: #e78733;
